<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <h1>Home Page</h1>
    </header>
    <main>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit in similique odit quis quos est dolorem, eligendi quia explicabo vel officia harum molestiae non debitis enim nisi quidem commodi. Labore.</p>
    </main>
</body>
</html>